.home-container {
  font-family: Poppins, sans-serif;
  padding: 20px;
  padding-bottom: 0;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
}

.home-header {
  text-align: center;
  margin-bottom: 40px;
  justify-content: center;
}

.home-title {
  font-size: 3rem;
  margin-bottom: 20px;
  color: #000;
}

.home-description {
  font-size: 1.2rem;
  color: #666;
  width: 60%;
  margin: auto;
}

.section-title {
  font-size: 2rem;
  text-align: center;
  color: #333;
}

.tech-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.tech-item {
  text-align: center;
  color: black;
  padding: 20px;
}

.tech-logo {
  height: 50px;
  margin-bottom: 10px;
}
