.home-container {
  font-family: 'Arial', sans-serif;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;

  min-height: 100vh;
}

.home-header {
  text-align: center;
  margin-bottom: 40px;
  justify-content: center;
}

.home-title {
  font-size: 3rem;
  margin-bottom: 10px;
  color: #ffffff;
}

.home-description {
  font-size: 1.2rem;
  color: #666;
  width: 60%;
  margin: auto;
}

.tech-section,
.image-gallery {
  margin-bottom: 40px;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.tech-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.tech-item {
  text-align: center;
}

.tech-logo {
  height: 50px;
  margin-bottom: 10px;
}

.image-gallery {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.gallery-img {
  width: 200px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}