.signup-container-border {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 84vh;
}

.signup-container {
  background-color: white;
  padding: 2rem;
  padding-top: 0;
  width: 400px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0 0 0 / 10%);
  text-align: center;
  margin: 0 auto;
}

.form-tittle {
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  color: black;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-form {
  width: 90%;
  padding: 8px;
  margin-bottom: 1rem;
  border: 1px solid #575757;
  border-radius: 6px;
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
  transition: border-color 0.3s ease-in-out;
}

.input-form:focus {
  border-color: #007bff;
  outline: none;
}

.form-submit {
  padding: 10px 0;
  width: 50%;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.form-submit:hover {
  background-color: #0056b3;
}

.signin-link {
  margin-top: 20px;
  font-size: 0.9rem;
  color: black;
}

.signin-link a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

.signin-link a:hover {
  color: #0056b3;
}

@media (max-width: 600px) {
  .signup-container {
    width: 90%;
    padding: 1.5rem;
  }
}
