.chats-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 10px;
  height: 84vh;
  margin-top: 2.4rem;
}

.friends-search-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.search-add-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.search-input {
  width: 70%;
  padding: 5px;
}

.add-friend-btn {
  width: 20%;
  padding: 5px;
}

.friends-list-container {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  /*height: 100vh;
  max-height: 100vh;*/
}

.friend-item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.friend-item:hover {
  background-color: #f1f1f1;
}

.friend-pfp {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 10px;
  /*max-height: 75vh;*/
}

.messages-container {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  max-width: 50%;
}

.my-message {
  align-self: flex-end;
  background-color: #d1e7dd;
}

.friend-message {
  align-self: flex-start;
  background-color: #f8d7da;
}

.input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.input-message {
  flex-grow: 1;
  padding: 10px;
  margin: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.send-btn {
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}

.send-btn:hover {
  color: #007bff;
}

.file-upload {
  cursor: pointer;
  font-size: 1.5em;
}

/*third row*/
.participants-container {
  padding: 10px;
  border-left: 1px solid #ccc;
  /*height: 100vh;
  max-height: 100vh;*/
}

.participants-container ul {
  list-style: none;
  padding: 0;
}

.participant-item {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.participant-pfp {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}