.home-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 20px;
  background-color: #484848;
}

.computer {
  width: 100px;
  z-index: 2;
}

.computer.left {
  position: absolute;
  left: 0;
}

.computer.right {
  position: absolute;
  right: 0;
}

.mail {
  width: 50px;
  position: absolute;
  transform: translateY(-50%);
  z-index: 1;
}