.home-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 20px;
  background-color: #484848;
  height: 150px;
  overflow: hidden;
}

.computer {
  width: 5rem;
  z-index: 2;
}

.computer.left {
  position: absolute;
  left: 0;
}

.computer.right {
  position: absolute;
  right: 0;
}

.server {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mail {
  width: 50px;
  position: absolute;
  transform: translateY(-50%);
  z-index: 1;
}