@font-face {
  font-family: SofaChrome;
  src: url('../../fonts/sofachrome.otf');
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  color: white;
  position: sticky;
  top: 0;
}

.logo {
  flex: 1;
}

.logo-text {
  font-size: 24px;
  color: black;
  margin-left: 1rem;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: SofaChrome;
}

.logo-img {
  height: 50px;
  margin-left: 2rem;
}

.nav-links {
  display: flex;
  justify-content: center;
  flex: 2;
  gap: 30px;
}

.nav-link {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 1.4rem;
}

.nav-link:hover {
  text-decoration: none;
  color: rgb(10, 0, 120);
}

.profile-container {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.profile-pic {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.dropdown-menu {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #444;
  padding: 10px;
  border-radius: 5px;
  z-index: 1;
}

.dropdown-link {
  color: white;
  text-decoration: none;
}

.dropdown-link:hover {
  text-decoration: underline;
}

.bm-burger-button {
  position: relative;
  width: 36px;
  height: 30px;
}

.bm-burger-bars {
  background: rgb(0, 0, 0);
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: white;
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-burger-button {
  display: none;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bm-item {
  color: white;
  text-decoration: none;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.nav-link-hamburger {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  margin-top: 20px;
}

.bm-menu-wrap {
  top: 72px;
  right: 0;
  width: 250px;
  height: auto;
}

@media (max-width: 768px) {

  .nav-links,
  .profile-container {
    display: none;
  }

  .bm-burger-button {
    display: block;
  }

  .nav-link-hamburger {
    font-size: 1.5rem;
  }
}